<!DOCTYPE html>
<html>
  <head>
    <title>Bumper Tanks</title>
    <meta charset="UTF-8" />
    <link rel = "icon" type = "image/x-icon" href = "/src/images/tankIcon.png">
    <link rel = "stylesheet" href = "/src/stylesheet/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/09c537c0bd.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <img src="/src/images/title.png" alt="Bumper Tank" class = "centerAlign">
      <div>
            <div id="topDiv">
              <table id="topTable">
                <tr>
                  <td> Weather Conditions               </td>
                  <td> <%=currentWeather.icon%>         </td>
                  <td> <%=currentWeather.windBearing%>  </td>
                  <td> <%=currentWeather.windSpeed%>    </td>

                  <td> <form action ="/updateWeather" method="POST">
                    <button type = 'submit' class= 'button glow-button' id = 'refresh_weather'>Update Weather</button>
                  </form> </td>

                  <td> <form action ="/signout" method="POST">
                    <button type="submit" class="button glow-button" id="sign_out">Sign Out</button>
                  </form> </td>

                </tr>  
              </table>            
            </div>

            <div id="Players">
                <table id= "playerTable">
                  <tr>
                    <td> This is Check for list 2       </td>
                  </tr>
                </table>
            </div>

            <canvas id="gameScreen"> </canvas>
         
         </div>

     <p> </p>
     <script type = "text/javascript" src = "matter-build/matter.js"></script>
     <script type = "text/javascript" src = "/src/scripts/GLOBAL.js"></script>
     <script type = "text/javascript" src = "/src/scripts/matterInterface.js"></script>
     <script type = "text/javascript" src = "/src/scripts/movement.js"></script>
     <script type = "text/javascript" src = "/src/scripts/tank.js"></script>
     <script type = "text/javascript" src = "/src/scripts/bullet.js"></script>
     <script type = "text/javascript" src = "/src/scripts/barrier.js"></script>
     <script type = "text/javascript" src = "/src/scripts/gameCanvas.js"></script>
  </body>
</html>