<!DOCTYPE html>
<html>
  <head>
    <title>Bumper Tanks</title>
    <meta charset="UTF-8" />
    <link rel = "icon" type = "image/x-icon" href = "/src/images/tankIcon.png">
    <link rel = "stylesheet" href = "/src/stylesheet/style.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
      <img src="/src/images/title.png" alt="Bumper Tank" class = "centerAlign">
      <div>
            <div id="Players">
                <ul>
                   <li>This is Check for list 2</li>
                </ul>
                </div>
            <div>
             <canvas id="gameScreen">
  
             </canvas>
            </div>
            <form action ="/signout" method="POST">
            <div id="Buttons">
              <button id="sign_out">Sign-Out</button>
            </div>
            </form>
         
         </div>
      <div style="display:none;">
            <img id="tank" width="1000px" height="608px" src="/src/images/tank.png" alt="Tanker">
            <img id="bullet" width="10" height="4" src="/src/images/normal_bullet.jpg" alt="Bullet">
            
       </div>
    <div style="display:none;">
          <img id="tank" width="1000px" height="608px" src="/src/images/tank.png" alt="Tanker">
          <img id="bullet" width="10" height="4" src="/src/images/normal_bullet.jpg" alt="Bullet">
     </div>
     <p> </p>
     <img id="movement" width="220" height="150" class = "centerAlign" src="/src/images/WASD.png">
     <script type = "text/javascript" src = "matter-build/matter.js"></script>
     <script type = "text/javascript" src = "/src/scripts/GLOBAL.js"></script>
     <script type = "text/javascript" src = "/src/scripts/matterInterface.js"></script>
     <script type = "text/javascript" src = "/src/scripts/movement.js"></script>
     <script type = "text/javascript" src = "/src/scripts/tank.js"></script>
     <script type = "text/javascript" src = "/src/scripts/bullet.js"></script>
     <script type = "text/javascript" src = "/src/scripts/barrier.js"></script>
     <script type = "text/javascript" src = "/src/scripts/gameCanvas.js"></script>
  </body>
</html>