<!DOCTYPE html>
<html>
  <head>
    <title>Bumper Tanks</title>
    <meta charset="UTF-8" />
    <link rel = "icon" type = "image/x-icon" href = "/src/images/tankIcon.png">
    <link rel = "stylesheet" href = "/src/stylesheet/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/09c537c0bd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>

    var PLAYERNAME = '<%=username%>'  //shares username for js files
    var PLAYERNUM = -1
    var PLAYERLIST = null
    var SOCKET = io()                 //shares this socket with js files

    SOCKET.on('connect', function(){ //once socket setup success

      SOCKET.on('join success', function(pNum, pList)
      {
        PLAYERNUM = pNum
        PLAYERLIST = pList

        const TANK_LIST = [
          new Tank(50, 40, 180, 4, 0.5, 3, 0, 100),
          new Tank(750, 40, 0, 4, 0.5, 3, 1, 100),
          new Tank(50, 560, 180, 4, 0.5, 3, 2, 100),
          new Tank(750, 560, 0, 4, 0.5, 3, 3, 100)
        ];

        const BARRIER_LIST = [
          new Barrier_Circle(230,150,50),
          new Barrier_Rectangle(50,100,0,100,50),
          new Barrier_Rectangle(400,100,90,200,60),
          new Barrier_Rectangle(750,100,0,100,50),
          new Barrier_Triangle(570,150,90,70),
          new Barrier_Triangle(230,450,90,70),
          new Barrier_Circle(570,450,50),
          new Barrier_Rectangle(50,500,0,100,50),
          new Barrier_Rectangle(750,500,0,100,50),
          new Barrier_Rectangle(400,500,90,200,60),
          new Barrier_Rectangle(150,300,0,180,50),
          new Barrier_Rectangle(400,300,0,180,50),
          new Barrier_Rectangle(640,300,0,180,50)
        ];

        var matterInst = new matterObj();
        matterInst.initializeMap(TANK_LIST, BARRIER_LIST);
        matterInst.playSimulation();
      })

      //client asks server to join
      SOCKET.emit('user join req', PLAYERNAME, SOCKET.id)
      
      $(function () 
      {

        $('#chat').submit(function(e)
        {
          e.preventDefault(); // prevents page reloading
          SOCKET.emit('chat message', $('#chat-input').val(), PLAYERNAME);
          $('#chat-input').val('');
          return false;
        })

        SOCKET.on('chat message', function(msg)
        {
          $('#chat-display').append($('<li>').text(msg));
        })

        SOCKET.on('update pList', function(pList)
        {
          console.log('update pList')
          $('#pList').empty()
          for(var i = 0; i < pList.length; i++)
          {
            console.log('adding player to list')
            pElem = `<li><div id=p1C></div><p>${pList[i].player}</p></li>`
            $('#pList').append(pElem)
          }
        })

      })
    })
    </script>
  </head>

  <body>
    <img src="/src/images/title.png" alt="Bumper Tank" class = "centerAlign">

    <div id="topDiv">
      
      <div id='weatherIcon'>
        <% if (currentWeather.icon.search("rain") > -1) { %>
          <i class="fas fa-cloud-rain"></i>
          <p>Vancouver, CA<br>Rainy</p>
        <% } else if (currentWeather.icon.search("cloud") > -1) { %>
          <i class="fas fa-cloud"></i>
          <p>Vancouver, CA<br>Cloudy</p>
        <% } else if (currentWeather.icon.search("sun") > -1 || currentWeather.icon.search("day" > -1)) { %>
            <i class="fas fa-sun"></i>
          <p>Vancouver, CA<br>Sunny</p>
        <% } else if (currentWeather.icon.search("fog") > -1) { %>
          <i class="fas fa-smog"></i>
          <p>Vancouver, CA<br>Foggy</p>
        <% } else if (currentWeather.icon.search("night") > -1) { %>
          <i class="fas fa-moon"></i>
          <p>Vancouver, CA<br>Night</p>
        <% } else { %>
          <%= currentWeather.icon %>
        <% } %>
      </div>

      <div id='windIcon'>
        Wind <i class="fas fa-wind"></i><br>
        Bearing
        <% if (currentWeather.windBearing > 315 || currentWeather.windBearing <= 45) { %>
          <i class="fas fa-arrow-up"></i>
        <% } else if (currentWeather.windBearing > 45 || currentWeather.windBearing <= 135) { %>
          <i class="fas fa-arrow-right"></i>
        <% } else if (currentWeather.windBearing > 135 || currentWeather.windBearing <= 225) { %>
          <i class="fas fa-arrow-down"></i>
        <% } else if (currentWeather.windBearing > 225 || currentWeather.windBearing <= 315) { %>
          <i class="fas fa-arrow-left"></i>
        <% } %><br>
        Speed <%=currentWeather.windSpeed%> KPH
      </div>

      <form action ="/signout" method="POST">
        <button type="submit" class="button glow-button" id="sign_out">Sign Out</button>
      </form>

    </div>

    <canvas id="gameScreen"> </canvas>

    <div id = 'playerList'>
      <ul id = 'pList'></ul>
    </div>

    <div id = 'chat-container'>
      <ul id ="chat-display"></ul>
      <form id = "chat">
        <input id='chat-input' autocomplete="off" type='text' placeholder='Press Enter to send' name='chat'/><button>Send</button>
      </form>
    </div>

     <script type = "text/javascript" src = "matter-build/matter.js"></script>
     <script type = "text/javascript" src = "/src/scripts/GLOBAL.js"></script>
     <script type = "text/javascript" src = "/src/scripts/matterInterface.js"></script>
     <script type = "text/javascript" src = "/src/scripts/movement.js"></script>
     <script type = "text/javascript" src = "/src/scripts/tank.js"></script>
     <script type = "text/javascript" src = "/src/scripts/bullet.js"></script>
     <script type = "text/javascript" src = "/src/scripts/barrier.js"></script>
  </body>
</html>
