/*For the Login page*/
body {font-family: Arial;
  background-image: url("background2.jpg");}

#home{
  padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 600px;
}
.centerAlign {
  margin: 10px auto 20px;
  display: block;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}


.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  float:left;
  opacity:0.8;
}

/*For the sign-up*/
#myForm
{background-color:rgb(198,193,193,0.9);
  margin: 5px auto 20px;
}
.form-popup {
    display: none;
   float:right;
    bottom: 10px;

    opacity:0.8;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }



  .form-container {
    max-width: 250px;
    padding: 10px;
    background-color: white;
  }

  .form-container input[type=text], .form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }


  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn  {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  #signbtn{
    background-color: #4169E1;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: red;
  }

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  #About{
    background-color:white;
  }
