
  #gameScreen 
  {
    border: 1px solid black;
    background-color: black;

    width: 800px;
    height: 600px;

    position: absolute;
    margin-left: -400px;
    margin-top: 90px;
    left: 50%;
  }

  .centerAlign {
        margin: 10px auto 20px;
        display: static;
  }

  notbody{
    background-image: url("background2.jpg");
    background-size: 100% 100%;
  }

  #Players{

  }

  #sign_out{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(112, 238, 103);
    border-radius: 4px;


    position: absolute;
    top: 5px;
    right: 10px;
    
    padding: 15px 40px;
    font-weight:bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }

  .glow-button:hover 
  {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 7px 15px rgba(112, 238, 103, .4);
  }
 

  .ul .li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
  }

  #topDiv {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    width: 1202px;
    height: 100px;

    position: absolute;
    left: 50%;
    margin-left: -601px;
  } 

  #playerTable {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    
    width: 200px;
    height: 600px;

    position: absolute;
    right: 50%;
    margin-right: 400px;
    margin-top: 105px;
  }

  #weatherIcon i {
    font-size: 70px;
    
    position: absolute;
    margin-left: -35px;
    margin-top: -35px;
    left: 50%;
    top: 50%;
  }

  #weatherIcon p {
    font-weight:bold;
    
    position: absolute;
    right: 50%;
    bottom: 50%;
    margin-bottom: 15px;
    margin-right: 40px;
  }

  #windIcon {
    font-weight:bold;

    position: absolute;
    left: 50%;
    bottom: 50%;
    margin-left: 60px;
    margin-bottom: -18px;
  }