
  #gameScreen 
  {
    border: 1px solid black;
    background-color: black;

    width: 800px;
    height: 600px;

    position: absolute;
    margin-top: 10px;
    margin-left: -400px;
    left: 50%;
  }

  .centerAlign {
        margin: 10px auto 20px;
        display: static;
  }

  notbody{
    background-image: url("background2.jpg");
    background-size: 100% 100%;
  }

  #Players{

  }

  #sign_out{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(112, 238, 103);

    width: 200px;

    position: absolute;
    left: 50%;
    margin-left: 400px;
    margin-top: 10px;

    padding: 15px 40px;
    border-radius: 4px;
    font-weight:bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }

  .glow-button:hover 
  {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 7px 15px rgba(112, 238, 103, .4);
  }
 

  .ul .li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
  }

  #topTable {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    width: 1200px;
    height: 50px;

    position: absolute;
    left: 50%;
    margin-left: -600px;
  }

  #topTable td{

  }