
  #gameScreen {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 600px;
    border: 1px solid white;
    background-color: black;
    float:left;
    margin-bottom:3%;
  }

    .centerAlign {
          margin: 10px auto 20px;
          display: block;
    }

  body{
    background-image: url("background2.jpg");
    background-size: 100% 100%;
  }
  #Players{
  float:left;
  margin-left:5%;
  margin-top: 15%;
  width: 18%;
  
  }
  #sign_out{
    float:right;
    margin-right:8%;
    margin-top:15%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(112, 238, 103);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight:bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }

  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 7px 15px rgba(112, 238, 103, .4);
  }
 

  .ul .li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
  }